		
	body {
        background-color: #000;
        background: #0B0B0D;
        color: #989899 !important;
        font-family: verdana, arial, sans-serif;
        font-size: 14px;
        line-height: 1.5;
        position: relative;
        margin: 0;
        display: block;
        margin: 8px;
    }

    .rf31u5l {
        background: none !important;
        min-width: initial !important;
        padding: 0 !important;
    }
    .wrap {
        padding-top: 20px;
        width: 100%;
        padding: 0;
        width: 98%;
        padding: 0 1%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: auto;
        max-width: 1210px;
        min-width: 320px;
        position: relative;
        background: #121215;
        padding: 0 20px;
        -moz-box-shadow: 0 0 5px #000;
        -webkit-box-shadow: 0 0 5px #000;
        box-shadow: 0 0 5px #000;
        overflow: hidden;
    }
    header {
        position: relative;
        display: block;

    }
    header nav {
        height: 50px;
        background: #2b2c32;
        -moz-box-shadow: 0 0 2px 0 #000;
        -webkit-box-shadow: 0 0 2px 0 #000;
        box-shadow: 0 0 2px 0 #000;
        position: relative;
        z-index: 210;
    }

   
    nav, .menu {
        border-radius: 3px 3px 0 0;
    }

    .subline {
        background: #151619;
        border-bottom: 1px solid #1f2023;
        -moz-border-radius: 0 0 3px 3px;
        -webkit-border-radius: 0 0 3px 3px;
        border-radius: 0 0 3px 3px;
        background-clip: padding-box;
        -moz-box-shadow: 0 0 2px 0 #000;
        -webkit-box-shadow: 0 0 2px 0 #000;
        box-shadow: 0 0 2px 0 #000;
        padding: 0 15px;
        height: 35px;
        line-height: 35px;
        position: relative;
        z-index: 4;
        font-size: 12px;
        margin: 0 0 20px;
    }
   
    .mqk172 {
        width: 728px;
        height: 90px;
        margin: 0 auto 20px;
        background: #1b1c20;
    }

    .mqk172in {
        position: relative;
        height: 90px;
    }


    .col-md-6{
        padding-right: 0px;
    }

    #a_title {
        color: #989899;
    }
    #a_pagination {
        color: #121215;
        background: #989899;
        border-color: #2b2c32;
    }

    #a_active_pagination {
        color: #121215;
        background: #2b2c32;
        border-color: #2b2c32;
    }
   



    #main{
        margin-left: 0px;
        margin-right: 0px;
    }
    #youtub-head{
            background: #2b2c32;
            border-top: 1px solid #36373c;
            border-bottom: 1px solid #000;
            text-align: center;
            border-radius: 3px 3px 0 0;
            line-height: 37px;
            font-size: 20px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;
    }

    #news-head {
            background: #2b2c32;
            border-top: 1px solid #36373c;
            border-bottom: 1px solid #000;
            text-align: center;
            border-radius: 3px 3px 0 0;
            line-height: 37px;
            font-size: 20px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;

    }

    #pagination-head {
            background: #2b2c32;
            border-top: 1px solid #36373c;
            text-align: center;
            border-radius: 0 0 3px 3px ;
            line-height: 37px;
            font-size: 20px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;

    }
    #youtub-colm{
            background: #1b1c20;
            border-top: 1px solid #222429;
            border-bottom: 1px solid #000;
            text-align: center;
            line-height: 37px;
            font-size: 40px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;

    }


     #col-youtub-wind{
        padding: 0 5px;
        
        

    }
    #news-colm{
            background: #1b1c20;
            border-top: 1px solid #222429;
            border-bottom: 1px solid #000;
            text-align: justify;
            font-size: 15px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;
    }

    #video-colm{
            background: #1b1c20;
            border-top: 1px solid #222429;
            border-bottom: 1px solid #000;
            text-align: center;
            font-size: 15px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 0 15px;
    }
    #between{
        
            border-top: 5px solid #121215;
        }

    #result-head{
            background: #2b2c32;
            border-top: 1px solid #36373c;
            border-bottom: 1px solid #000;
            text-align: center;
            border-radius: 3px 3px 0 0;
            line-height: 37px;
            font-size: 20px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 15 0px;

    }
    #user-result{
            background: #1b1c20;
            border-top: 1px solid #222429;
            border-bottom: 1px solid #000;
            text-align: center;
            font-size: 15px;
            font-weight: normal;
            min-width: 50px;
            color: #a8a8aa;
            padding: 15 0px;

    }

    #testmenu{
        background: #1b1c20;

    }


          




    footer {
        background: #1b1c20;
        font-size: 12px;
        position: relative;
        margin: 20px 0 0;
    }