{% extends 'main.html' %}
{% load staticfiles %}

{% block video %}
 <div class="row" id="youtub-row">
    <div class="col-md-12" id="youtub-head">
      <h3><A id='a_title' href="{% url 'list_video' 1 %}">Новые видео</A></h3>
    </div>
    <div class="col-md-12" id="youtub-colm">
      <div class="row" id="youtub-wind">
      	{% for this_video in video %}
        <div class="col-md-6" id="col-youtub-wind">
          {% autoescape off%}{{this_video.video}}{% endautoescape %}
        </div>
        {% endfor %}
      </div>
  </div>
</div>



{% endblock %}



{% block article %}	
	<div class="row" id="news-row">
	        <div class="col-md-12" id="news-head">
	            <h3><A id='a_title' href="{% url 'list_news' 1 %}">Новости</A></h3>
	        </div>
	        {% for this_news in news %}
			<div class="col-md-12" id="news-colm">
				<h5><a id='a_title' href="{% url 'watched_news' this_news.id %}">{{this_news.title}}</a></h5>
				<h6>{{this_news.preview_news}}</h6>
				<h6>{{this_news.date}}</h6>
			</div>
			{% endfor %}
	</div>

{% endblock %}



{% block result %}

  	<div class="col-md-6" id="bg-result">
                     
	    <div class="col-md-12" id="result-head">
	        <h3>Битва гильдий</h3>
	    </div>

		{% for bg_result  in bg_results  %}
		    <div class="col-md-12" id="user-result">
		    	<h6>{{ bg_result.nickname }} {{ bg_result.result }} {{ bg_result.bg_index }}</h6>
		    </div>
		{% endfor %}
	</div>

{% endblock %}
{% block ads %}
<div class="col-md-6" id="bg-result">
    <div class="col-md-12" id="result-head">
        <h3>Объявления</h3>
    </div>
    {% for this_ads in ads %}
    <div class="col-md-12" id="user-result">
    	{% autoescape off%}{{this_ads.ads}}{% endautoescape %}
    </div>
    {% endfor %}
                    

</div>
{% endblock %}




 